


/* Button container */
.container-billing-statusbtn{
    display: inline-block;
    margin: 15px 0 5px 150px;
    /* background-color: brown; */

}
.billing-statusbtn{
    background-color:#e0e0e0;
}