

/* Button container */
.container-billing-statusbtn{
    display: inline-block;
    margin: 15px 0 5px 150px;
    /* background-color: brown; */

}
.billing-statusbtn{
    background-color:#e0e0e0;
}
.custon-billing-btn{
    background-color:var(--billcords-secondayColor) ;
    color:var(--content-color);
    font-size: 32px;
}
.billing-voucher-card{
    display: inline-block;
}
.btn-admin-logs,.btn-users-logs{
    background-color:var(--billcords-secondayColor) ;
    color:var(--content-color);
    font-size: 12px;
}

@media only screen and (min-width:767px){
        
}