/* flex */

.f-row{
    display: flex;
}
.f-col{
    display: flex;
    flex-direction:column;
}
.f-wrap{
    flex-wrap: wrap;
}
/* justify-content */
.f-j-s{
    justify-content: start;
}
.f-j-e{
    justify-content: end;
}
.f-j-c{
    justify-content: center;
}
.f-j-b{
    justify-content: space-between;
}
.f-j-a{
    justify-content: space-around;
}
.f-j-e{
    justify-content: space-evenly;
}
/* alignment-item */
.f-a-s{
    align-items: start;
}
.f-a-e{
    align-items: end;
}
.f-a-c{
    align-items: center;
}
/* flex-grow */
.f-size{
    flex:1 1 100%;
}
.f-wrap {
    flex-wrap: wrap;
}
.f-grow{
    flex-grow:1;
}
.f-gap-1 {
    gap: 1rem;
}
.f-gap-2 {
    gap: 2rem;
}
.f-gap-3 {
    gap: 3rem;
}
