.main-container{
    margin: 2%;
}
/* card widget */
.dashboard-cards{
    margin-block-start:1rem;
    min-width: auto;
    width:150px;
    height: 120px;
}
.card-container{
    margin:8%;
}
.menu-list > a{
    color: var(--text-color);
}
.label-card-content{
    margin-block-start:1rem;
}
.amount-card-content{
    font-size: x-large;
}