@import url('../../../index.css');
:root{
    --bgcolor-primary:var(--primary-color);
    --bgcolor-secondary:var(--secondary-color);
    
}


.header-container{
    background-color: var(--bgcolor-secondary);
    height:50px;
}