@import url('../../asset/global.css');

:root {
    --bgcolor-primary: var(--primary-color);
    --bgcolor-secondary: var(--secondary-color);
    --height: var(--height);

}

.header-container {
    background-color: var(--bgcolor-secondary);
    min-height: 50px;
}